@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
button {
  margin: 20px;
}
.ComponentBox {
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 50pt;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

.inputField { 
  background-color: transparent;
  height: 27px;
  width: 145px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 7px;
}
.inputField~span{
  background-color: white;
  position: absolute;
  top: 23px;
  left: 17px;
  z-index: -1;
  transition: all ease-in-out 0.5s;
}
.inputField:hover {
  border: 2px solid black;
}
.inputField:focus-visible  {
  outline: none!important;
  border: 2px solid #1976d2;
}
.inputField:focus ~ span {
  top : 12px;
  z-index: 1;
  font-size: 5px;
  transition: all ease-in-out 0.5s;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}

.w-btn-indigo-outline {
  border: 3px solid aliceblue;
  color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}